USE [master]
GO
/****** Object:  Database [Flottante]    Script Date: 09-Dec-19 2:00:27 PM ******/
CREATE DATABASE [Flottante]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Flottante', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Flottante.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Flottante_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Flottante_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Flottante].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Flottante]
GO
USE [Flottante]
GO
/****** Object:  Table [dbo].[City]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[country_id] [int] NULL,
	[population] [int] NULL,
	[cost_of_living_ranking] [int] NULL,
	[safety_ranking] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityImages]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NULL,
	[image] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostOfLivingCategory]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostOfLivingCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
	[weight] [decimal](18, 2) NULL,
	[group_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostOfLivingDetail]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostOfLivingDetail](
	[category_id] [int] NOT NULL,
	[city_id] [int] NOT NULL,
	[value] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC,
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostOfLivingGroup]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostOfLivingGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[minimum_wage] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryLanguages]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryLanguages](
	[country_id] [int] NULL,
	[language_code] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 09-Dec-19 2:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[code] [varchar](10) NOT NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [PK__Language__357D4CF8A7BBB885] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[CityImages]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[CostOfLivingCategory]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[CostOfLivingGroup] ([id])
GO
ALTER TABLE [dbo].[CostOfLivingDetail]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[CostOfLivingCategory] ([id])
GO
ALTER TABLE [dbo].[CostOfLivingDetail]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[CountryLanguages]  WITH CHECK ADD  CONSTRAINT [FK__CountryLa__count__2C3393D0] FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[CountryLanguages] CHECK CONSTRAINT [FK__CountryLa__count__2C3393D0]
GO
ALTER TABLE [dbo].[CountryLanguages]  WITH CHECK ADD  CONSTRAINT [FK__CountryLa__langu__2D27B809] FOREIGN KEY([language_code])
REFERENCES [dbo].[Language] ([code])
GO
ALTER TABLE [dbo].[CountryLanguages] CHECK CONSTRAINT [FK__CountryLa__langu__2D27B809]
GO
USE [master]
GO
